* text=auto
# Seems no use, use `git update-index --skip-worktree file` instead 
#     to keep files differenc between branches
README.md merge=ours
vcpkg.json merge=ours
vcpkg-configuration.json merge=ours
codecrafters.yml merge=ours
.codecrafters/** merge=ours
image/** merge=ours
